click==6.6
Flask==0.11.1
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyMySQL==0.7.9
SQLAlchemy==1.1.1
tornado==4.4.2
virtualenv==15.0.3
virtualenvwrapper-win==1.2.1
Werkzeug==0.11.11
